#Portafolio .card-portafolio{
    max-width: 500px;
}
main #DogeDancing figure{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
main #DogeDancing figure img{
    margin: 5px;
}
main #DogeDancing figure .doge-tablet{
    display: block;
    width: 200px;
    height: 200px;
}